<!DOCTYPE html>
<html>
	<head>
		<?php include _VIEW_ . "/public/head.html"; ?>
		<title>重置密码</title>

	</head>
	<body>
		<div class="body" data-role="page" id="MethodPage" data-theme="a">
			 <div data-role="header">
				<a data-rel="back" data-icon="back">返回</a>
		          	<h1>找回密码</h1>	
			</div>				
		         <div class="container" data-role="content" align="center">
			    	<div style="margin-top:80px">	
				  	 <h3>你可以通过以下方式找回密码：</h3>
				</div>
                			<div style="margin-top:50px">				
			       		<a  href="?v=resetPassword/ViaPhone" data-role="button"  data-icon="arrow-r" data-iconpos="right" >用手机号码找回密码</a>
				</div>
				<div style="margin-top:50px">	
			       		 <a  href="?v=resetPassword/ViaEmail" data-role="button"  data-icon="arrow-r" data-iconpos="right" data-prefetch>用邮箱找回密码</a>			  
			    	</div>
			</div> 
			<div class="ui-grid-a" data-role="footer" data-position="fixed" align="center">
	        			<h1>Airome中心</h1>	
			</div>
		</div>
	</body>
</html>
