<?php
	require_once _CONTROLLER_ . "/GroupController.php";
	require_once _CONTROLLER_ . "/NodeController.php";
	require_once _MODEL_ . "/UserModel.php";
	$gatewayID = (new UserModel())->getField($_COOKIE['user_id'],"gateway_id");
    $group = (new GroupController())->getGroups($_COOKIE['user_id'],$_COOKIE['password'],false);
    $nodeController = new NodeController();
?>
<!DOCTYPE html>
<html>
<head>
    <?php include _VIEW_ . "/public/head.html"; ?>
	<title>Airome</title>
</head>

<body>
	<div data-role="page" data-dialog="true" data-close-btn="right">
		<div data-role="header" data-theme="b">
			<h1>删除设备</h1>
		</div>
		<div class="ui-content">
			<?php
				foreach ($group as $key => $value) {
			?>
			<div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
			    <h1><?=F($value['group_name'])?></h1>
			    <?php
			    	$node = $nodeController->getNodes($_COOKIE['user_id'],$_COOKIE['password'],$value['group_id'],false);
			    	foreach ($node as $Nodekey => $NodeValue) {
			    ?>
			    <input type="checkbox" class="delDev_checkbox" name="device<?=F($NodeValue['node_id'])?>" id="device<?=F($NodeValue['node_id'])?>">
				<label for="device<?=F($NodeValue['node_id'])?>"><?=F($NodeValue['node_name'])?></label>
				<?php
					}
				?>
<!-- 			    	<input type="checkbox" name="dev1" id="dev1">
					<label for="dev1">灯A</label>		    
		            <input type="checkbox" name="dev2" id="dev2">
					<label for="dev2">灯B</label>

		            <input type="checkbox" name="dev3" id="dev3">
					<label for="dev3">空调</label> -->
        	</div>
        	<?php
        		}
        	?>
        	<a href="#" style="margin-top:30px" id="delDev_del" class="ui-btn ui-btn-b ui-btn-corner-all ui-shadow ui-btn-icon-left ui-icon-check">确定删除</a>
		</div>
		<script type="text/javascript">
			$("#delDev_del").click(function(){
				var str="{\"device\":{";
				$(".delDev_checkbox").each(function(){
					if($(this).prop("checked")==true){
						str += "\""+$(this).prop("name")+"\":\""+$(this).prop("name").substring(6)+"\",";
					}
				});
				str=str.substring(0,str.length-1);
				str+="},\"gatewayID\":\"<?=F($gatewayID)?>\"}";
				var json=JSON.parse(str);//转换成JSON对象
				// 调用禁用设备函数
				$.post("?c=Node&f=disableNode",json,function(result){
					switch(result){
						case "1":
							alert("删除成功！");
							break;
						case "0":
							alert("删除失败！");
							return;
						case "-1":
							alert("设备所属网关ID不匹配");
							return;
						case "-2":
							alert("设备不存在");
							return;
						default:
							alert("未知错误："+result);
							return;
					}
					$("#device_list_content").load("?v=device_list_content");
					$.mobile.changePage("?v=device_list", {
						'allowSamePageTransition' : true,
						'transition' 	: 'flip',
						 'reverse'	 	: true,
					});
				});
			});
		</script>
	</div>
</body>
</html>