<!DOCTYPE html>
<html>
<head>
   
    <?php include _VIEW_ . "/public/head.html"; ?>
	<title>Airome</title> 
	
</head>
<body>
	<div data-role="page" data-theme="a">
           <link rel="stylesheet" type="text/css" href="<?=_VIEW_?>/css/setting_about.css">
              	 <div  data-role="header" align="center" data-theme="b">
              		<a data-rel="back" data-icon="back">返回</a>
                      <h2>关于Airome</h2>             
                </div>
                <div class="container" data-role="content" align="center" id="about">
                     <div id="about_logo">
                          <img src="<?=_VIEW_?>/img/Logo.png"/>
                     </div>
                     <b>Airome 1.0.0</b>
              </div> 
                <div data-role="footer" data-position="fixed" id="about_footer"> <center>Copyright © 2015- 2016 Airome. All Rights Reserved.</center></div>

      </div>
</body>
</html>